.container {
  background: #d3d3d3;
  position: relative;
  width: 100%;
  display: flex;
}

.children_container {
  height: 100vh;
  width: calc(100% - 300px);
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ffffff;
  z-index: 100;
}

.children_header {
  height: 60px;
}

.children_content {
  height: calc(100% - 60px);
}

.transition_menu {
  width: 200px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -200px;
  background-color: #ffffff;
  z-index: 100;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}
